html,body{
    margin:0px;
    font-family:helvetica;
    background-color:#620FC1;
    color:#620FC1;
}

.top{
    width:90%;
    padding-bottom:40px;
    border-radius:20px;
    background-color:#242526;
    text-align: center;
}
@font-face {
  font-family: 'Font';
  font-style: normal;
  font-weight: 400;
  src: url('https://jailbreak-central.github.io/website/font/font.ttf');
}