.Class{
    margin:10px;
    padding:20px;
    width:80%;
    border-radius:20px;
    background-color: #D2EFFD;
    height:60px;
    font-family: Font;
}
.Class img{
    width:60px;
    height:60px;
    float:left;
    border-radius:23.3%;
    margin-left:0px;
}
.Class h1{
    font-size:16px;
    margin-left:70px;
    text-align:justify;
    margin-bottom:0px;
    font-family: Font;
}
.Class p{
    font-size:13px;
    margin-left:-25px;
    opacity:0.6;
    padding:5px;
    border-radius:5px;
    width:100px;
    text-align:justify;
    margin-top:2px;
    font-family: Font;
}
.Class a{
    display:block;
    width:55px;
    padding:5px;
    border-radius:50px;
    float:right;
    color:#620FC1;
    margin-right:0px;
    font-family: Framework7 Icons;
    text-decoration:none;
    font-size: 40px;
}